   fastapi
   uvicorn
   python-multipart
   langchain
   langchain-community
   langchain-openai
   python-dotenv
   pymongo
   sentence-transformers
   pypdf
   faiss-cpu
   scikit-learn
   scipy
   joblib
   typing-extensions
   langchain-huggingface